html {
  scroll-behavior: smooth;
}

body{
 -ms-overflow-style: none;
 }
::-webkit-scrollbar {
  display: none;
}

main {
  color: var(--color-white);
  background-color: var(--main-bg);
  /* min-height: 100vh; */
}

.title {
  padding: 30px 0 10px;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 7px 7px #000;
}

.txt-c-yellow {
  color: var(--color-pop-yellow);
}

.txt-c-blue {
  color: var(--color-free-blue);
}

.txt-c-lavender {
  color: var(--color-lavender);
}

/* =====
  히어로
===== */
.pr-container {
  height: 100vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/* ===== 심볼 ===== */
.symbol {
  display: flex;
  align-items: center;
  gap: 150px;
  font-size: 12rem;
  font-weight: 900;
}

.brace {
  color: var(--color-pop-yellow);
}

.mark {
  font-size: 15rem;
  position: relative;
  color: var(--color-lavender);
}

.mark > div {
  animation: symbol 6s infinite;
}

div.q {
  opacity: 0;
  position: absolute;
  top: 0.34%;
  left: -19%;
}

div.e {
  opacity: 0;
  position: absolute;
  top: 0.7%;
  left: -6%;
  animation-delay: 2s;
}

div.p {
  opacity: 0;
  animation-delay: 4s;
}

/* ===== 슬로건 ===== */
.slogan {
  font-size: 0.7rem;
}
.t-typing {display: none;}
.m-typing {display: none;}

/* 호버 효과 */
.symbol:hover ~ .slogan .txt-hover,
.slogan:hover .txt-hover {
  color: transparent;
}

.symbol:hover ~ .slogan .txt-hover::after,
.slogan:hover .txt-hover::after {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.symbol:hover ~ .slogan .mark-hover::after,
.slogan:hover .mark-hover::after {
  top: -10%;
}

.txt-hover {
  padding: 0 5px;
  position: relative;
  transition: all 0.3s;
}

.slogan-error {
  padding: 0 15px;
}

.txt-hover::after {
  position: absolute;
  top: 100%;
  left: 0;
  font-weight: 900;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.slogan-error::after {
  content: 'ERROR';
  color: var(--color-pink-red);
}
.slogan-q::after {
  content: '?';
  left: 42%;
  font-size: 2rem;
  color: var(--color-free-blue);
}
.slogan-e::after {
  content: '!';
  left: 45.5%;
  font-size: 2rem;
  color: var(--color-pop-yellow);
}
.slogan-p::after {
  content: '.';
  left: 46.5%;
  font-size: 2rem;
  color: var(--color-lavender);
}
.slogan-hippie::after {
  content: 'HIPPIE';
  left: 6%;
  color: var(--color-lavender);
}

/* 타이핑 효과 */
.typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 8px solid var(--color-white);
  animation: typing 4.6s steps(90) forwards, blink 0.8s step-start infinite 5s;
}

/* ========
  네비게이션
========*/
nav {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

nav li a {
  padding: 40px 50px 20px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);
}

/* 메뉴, sns 호버 */
nav li a:hover,
.i-sns > a:hover {
  transition: all 0.5s;
}

nav ul li:nth-of-type(1):hover a,
nav ul li:nth-of-type(5):hover a,
.i-sns > a:nth-of-type(2):hover {
  color: var(--color-lavender);
}
nav ul li:nth-of-type(2):hover a {
  color: var(--color-free-blue);
}
nav ul li:nth-of-type(4):hover a,
.i-sns > a:nth-of-type(1):hover {
  color: var(--color-pop-yellow);
}
nav ul li:nth-of-type(3):hover a,
.i-sns > a:nth-of-type(3):hover {
  color: var(--color-pink-red);
}

/* =====
  어바웃
===== */
#about {
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.about-cont-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

/* i'm 나는 */
.i-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.i-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 15vw;
}

.i-img {
  padding-top: 120%;
  background-image: url('../images/im.webp');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.i-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-lavender);
}

.i-info > a {
  display: inline-block;
  padding-top: 20px;
}

/* 자기소개 */
.intro-card {
  padding: 30px 0;
  display: flex;
  gap: 100px;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffffff18;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.period-size {
  font-size: 0.8rem;
  color: var(--color-lavender);
}

.intro-card i {
  animation: txt-rotate 0.5s linear infinite alternate;
}

.card-desc {
  padding-right: 30px;
  text-align: center;
}

/* =====
  스킬
===== */
#skill h2 {
  padding: 80px 0 10px;
  text-align: center;
}

.skill-inner {
  padding: 50px 0 100px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.skill-inner:hover .skill-box {
  animation-play-state: paused;
}

.skill-box {
  padding: 0 30px;
  display: flex;
  align-items: center;
  gap: 70px;
  font-size: 3rem;
  font-weight: 900;
  animation: text-to-left 10s linear infinite;
}

.fa-html5 {
  color: #E34F26;
}
.fa-css {
  color: #663399;
}
.fa-js {
  color: #F0DB4F;
}
.fa-vuejs {
  color: #42b883;
}
.fa-git-alt {
  color: #F05032;
}
.fa-github {
  color: #181717;
}

/* =======
  프로젝트
======= */
#project {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.porj-card {
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.proj-img {
  padding-top: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.proj-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.proj-desc {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translate(-50%);
  font-size: 1rem;
  background-color: rgb(0, 0, 0, 0.8);
  transition: all 0.5s;
}

.font-small {
  font-size: 0.8rem;
}

.porj-card a:hover .proj-img {
  transform: scale(1.3);
}

.porj-card a:hover .proj-desc {
  bottom: 0;
}

/* =====
  콘텍트
===== */
#contact {
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sns {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 1.5rem;
}

/* ======
  footer
====== */
footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: #121212;
}

/* ========
  애니메이션
======== */
/* 타이핑 애니메이션 */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; padding-right: 10px; }
}

/* 커서 깜빡임 애니메이션 */
@keyframes blink {
  50% { border-color: transparent; }
}

/* 심볼 애니메이션 */
@keyframes symbol {
  0% {
      opacity: 0;
      transform: scale(0.5) rotate(-15deg) translateY(20px);
    }
  5% {
      opacity: 1;
      transform: scale(1.1) rotate(5deg) translateY(0);
    }
  8% {
      transform: scale(1) rotate(0);
    }
  10% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  33.33% {
      opacity: 0;
      transform: scale(1.2) translateY(-30px);
    }
  100% {
      opacity: 0;
  }
}

/* 아이콘 애니메이션 */
@keyframes txt-rotate {
  from {
    transform: rotate(15deg) scale(1);
  }
  to {
    transform: rotate(-10deg) scale(1.2);
  }
}

/* 텍스트 무한 로딩 애니메이션 */
@keyframes text-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    /* transform: translateX(-94.5%); */
    transform: translateX(-100%);
  }
}

/* 미디어 쿼리 */
/* 태블릿(768px ~ 1024px) */
@media screen and (max-width: 1024px) {
  .desk { display: none; }
  .t-typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .symbol:hover ~ .slogan .mark-hover::after,
  .slogan:hover .mark-hover::after {
    top: -1.5px;
    font-size: 1.6rem;
  }
  .t-typing p {
    margin: 10px 0 ;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 8px solid var(--color-white);
  }
  .t-typing > :nth-child(1) {
    animation: t-typing 2s steps(30) forwards, bd-none 0.3s step-end forwards 2.2s;
  }
  .t-typing > :nth-child(2) {
    opacity: 0;
    animation: t-typing 4s steps(65) forwards 2.2s, blink 0.8s step-start infinite 6.5s;
  }
  .t-typing .mark-hover,
  .slogan-hippie {
    padding: 0 5px;
  }
  .slogan-q::after {
    left: 42%;
  }
  .slogan-e::after {
    left: 45%;
  }
  .slogan-p::after {
    left: 46%;
  }
  .slogan-hippie::after {
    left: 6%;
  }
  @keyframes t-typing {
    from { width: 0; opacity: 1; }
    to { width: 100%; padding-right: 10px; opacity: 1; }
  }
  @keyframes bd-none {
    from { border-right: 8px; }
    to { border-right: 0; }
  }
  nav ul {
    width: none;
    justify-content: center;
    gap: 80px;
  }
  nav li a { padding: 40px 0 20px; }
  .about-cont-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .intro-card {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

/* 모바일(320px ~ 480px) */
@media screen and (max-width: 767px) {
  .pr-container { gap: 30px; }
  .symbol { gap: 100px; }
  .t-typing { display: none; }
  .m-typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
    font-weight: 900;
  }
  .slogan-hippie::after { font-size: 1.4rem; }
  .symbol:hover ~ .slogan .mark-hover::after,
  .slogan:hover .mark-hover::after { top: -5%; }
  .m-typing p {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid var(--color-white);
  }
  .m-typing > :nth-child(1) {
    animation: m-typing 1.8s steps(30) forwards, bd-none 0.3s step-end forwards 2s;
  }
  .m-typing > :nth-child(2) {
    opacity: 0;
    animation: m2-typing 2.1s steps(35) forwards 2.2s, bd-none 0.3s step-end forwards 4.6s;
  }
  .m-typing > :nth-child(3) {
    opacity: 0;
    animation: m3-typing 1.5s steps(22) forwards 4.8s, blink 0.8s step-start infinite 6.5s;
  }
  @keyframes m-typing {
    from { width: 0; padding-right: 0; opacity: 1; }
    to { width: 93%; padding-right: 5px; opacity: 1; }
  }
  @keyframes m2-typing {
    from { width: 0; padding-right: 0; opacity: 1; }
    to { width: 100%; padding-right: 5px; opacity: 1; }
  }
  @keyframes m3-typing {
    from { width: 0; padding-right: 0; opacity: 1; }
    to { width: 60%; padding-right: 5px; opacity: 1; }
  }
  @keyframes bd-none {
    from { border-right: 8px; }
    to { border-right: 0px; }
  }
  nav { display: none; }
  .title {
    padding-top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .pr-container { padding: 0; }
  .symbol {
    gap: 70px;
    font-size: 7rem;
  }
  .mark { font-size: 10rem; }
  .m-typing { font-size: 1rem; }
  .m-color-error { color: var(--color-pink-red); padding: 0; }
  .m-color-q { color: var(--color-free-blue); }
  .m-color-e { color: var(--color-pop-yellow); }
  .m-color-p { color: var(--color-lavender); }
  @keyframes m-typing {
    from { width: 0; padding-right: 0; opacity: 1; }
    to { width: 83%; padding-right: 5px; opacity: 1; }
  }
  @keyframes m2-typing {
    from { width: 0; padding-right: 0; opacity: 1; }
    to { width: 100%; padding-right: 5px; opacity: 1; }
  }
  @keyframes m3-typing {
    from { width: 0; padding-right: 0; opacity: 1; }
    to { width: 65%; padding-right: 5px; opacity: 1; }
  }
}

/* 슬로건 글자 크기 */
@media screen and (min-width: 1200px) {
  .slogan { font-size: 0.8rem; }
  .slogan-error::after { left: -3%; }
}