@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Single+Day&display=swap');

body {
  font-family: "Dongle", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98c9ff;
}

main {
  display: flex;
  padding: 30px;
  border-radius: 30px;
  background-image: url('./images/하늘2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  border-radius: 10px;
  background-color: #fff;
}
.white-space {
  width: 15px;
  background-color: #fff;
  padding: 10px 0;
  background-clip: content-box;
}